/* font */
@import url("https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto:wght@300;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
h1 {
  font-size: 50px;
  font-weight: 900;
  color: #03203c;
}
h2 {
  font-size: 40px;
  font-weight: 700;
}
h3 {
  font-size: 25px;
  font-weight: 700;
}
/* first-section */

.first-section {
  display: flex;
  padding: 10x 30px;
  margin-bottom: 10px;
}
.half-width {
  width: 50%;
  padding: 5%;
}
.heading {
  display: flex;
  flex-direction: column;
}
.heading p {
  color: #03203c;
}
.heading a {
  text-decoration: none;
  background-color: #03203c;
  padding: 10px 30px;
  border-radius: 25px;
  color: aliceblue;
  max-width: 150px;
  max-height: 25px;
}
i {
  padding-left: 20px;
}
.poster img {
  width: %;
}

.logos hr {
  border: 2px solid #03203c;
}
