/* font */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin-left: 150px;
  margin-right: 150px;
  background-color: #ffffff;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  color: #03203c;
}
h2 {
  font-size: 40px;
  font-weight: 500;
}
h3 {
  font-size: 35px;
  font-weight: 300;
}
/* first-section */

.first-section,
.last-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
  /* padding: 10x 10x; */
  margin: 50px 0px;
}
/* .half-width {
  width: 50%;
  padding: 5%;
} */
.heading {
  display: flex;
  flex-direction: column;
}
.heading p {
  color: #03203c;
}
.heading a {
  text-decoration: none;
  background-color: #03203c;
  padding: 10px 30px;
  border-radius: 25px;
  color: aliceblue;
  max-width: 150px;
  max-height: 25px;
}
.heading i {
  padding-left: 20px;
}
/* .poster img {
  width: 75%;
} */

.logos-sec hr {
  border: 1px solid #03203ca6;
}
.logos {
  display: grid;
  grid-template-columns: repeat(4, 0.7fr);
  justify-items: center;
}

.logos .logo img {
  max-height: 100px;
  /* max-width: 100%; */
}
/* movies */

.second > h2 {
  color: #03203c;
  text-align: center;
}
.movies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.movie {
  background-color: #f0f3f7;
  padding: 5%;
  /* margin: 25px; */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie img {
  max-width: 350px;
  border-radius: 25px;
}
.movies i {
  color: goldenrod;
}

.movie article {
  color: rgb(110, 110, 110);
  margin-bottom: 15px;
}

.m-btn {
  text-decoration: none;
  background-color: #03203c;
  padding: 5px 10px;
  border-radius: 20px;
  color: aliceblue;
  max-width: 150px;
  max-height: 25px;
}
#see {
  text-align: right;
  margin-top: 20px;
}
.second #see a {
  text-decoration: none;
  color: #03203c;
}

.second #see i {
  padding-left: 10px;
}
footer {
  text-align: center;
  color: aliceblue;
  background-color: #03203c;
  padding: 20px;
  font-family: "lobster";
}
footer h2 {
  color: aliceblue;
  font-size: 25px;
}
footer div a {
  text-decoration: none;
  color: aliceblue;
  padding: 0 10px;
}
/* media quearies */
/* mobile devices */
@media only screen and (max-width: 688px) {
  body {
    margin: none;
  }
  h1 {
    font-size: 30px;
  }
  .first-section {
    /* background-color: aqua; */
    grid-template-columns: repeat(1, 1fr);
  }
  .first-section img {
    order: 1;
  }
  .first-section .heading {
    order: 2;
  }
  .movies {
    grid-template-columns: repeat(1, 1fr);
  }
  .movie {
    justify-content: center;
    flex-direction: column;
  }
}
